html {
    font-size: $font-size;
}
body {
    font-size: $font-size;
    font-family: $font-main;
    overflow-y: scroll;
}
a {
    color: $color-primary;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $color-accent;
    }
}
h1 {
    font-family: $font-header;

    @include xs-min {
        font-size: 3rem;
        margin: -7.5px 0 45px;
    }
}

h1::after {
    position: absolute;
    content: "";
    width: 100%;
    margin: 40.8px 0 0 15px;
    border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}