.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 15px black, 0 0 30px black;
}

.header, .main, .left-sidebar {
  margin-bottom: 80px;
}

.navbar-inverse {
  background-color: #191919;
}

.navbar-inverse .navbar-nav .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav .active > a:hover, .navbar-inverse .navbar-nav .active > a:focus {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  border: none;
  background-color: #f2f2f2;
  margin-bottom: 30px;
}

.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #df8a13;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

.thumbnail {
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.embed-responsive {
  border: 1px solid #dddddd;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  overflow-y: scroll;
}

a {
  color: #165690;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h1 {
  font-family: "PT Serif", serif;
}

h1::after {
  position: absolute;
  content: "";
  width: 100%;
  margin: 40.8px 0 0 15px;
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

section {
  position: relative;
  overflow: hidden;
}

h2 {
  font-family: "PT Serif", serif;
}

h2::before {
  position: absolute;
  left: 0;
  width: 30px;
  margin: 10px 0 0 0;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

h2::after {
  position: absolute;
  width: 100%;
  content: "";
  margin: 34px 0 0 15px;
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

.header-logo {
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}

.header-logo__title {
  color: #df8a13;
  font-family: "PT Serif", serif;
  display: block;
}

.header-logo__description {
  color: #ffffff;
  display: block;
  letter-spacing: 0.2em;
  font-size: 1.15rem;
}

.main .site-search {
  margin-bottom: 45px;
}

.main .user-login {
  margin-bottom: 60px;
}

.new-films-row,
.top-week-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
  margin-bottom: -15px;
}

.new-films-item,
.top-week-item {
  padding-right: 7.5px;
  padding-left: 7.5px;
  margin-bottom: 15px;
}

.new-films-item__thumbnail,
.top-week-item__thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.new-films-item__image,
.top-week-item__image {
  width: 100%;
}

.new-films-item__title,
.top-week-item__title {
  margin: 0;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
}

.new-films-item__caption,
.top-week-item__caption {
  text-align: center;
}

.new-films-item:hover .thumbnail,
.top-week-item:hover .thumbnail {
  background-color: #df8a13;
  border-color: #df8a13;
}

.new-films-item:hover h3,
.top-week-item:hover h3 {
  color: #ffffff;
}

.films-news-item__article {
  text-align: justify;
}

.films-news-item h3 > a {
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.films-news-item .thumbnail {
  margin-bottom: 0;
}

.films-news-item__thumbnail {
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.films-news-item__image {
  width: 100%;
}

.films-news-item__btn {
  float: right;
  margin-bottom: 30px;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.films-news-item:hover .btn-warning {
  background-color: #df8a13;
}

.films-news-item:hover .thumbnail {
  background-color: #df8a13;
}

.films-news-item:hover h3 > a {
  color: #df8a13;
}

.film-info {
  font-size: 1.2rem;
}

.film-info__about {
  white-space: nowrap;
}

.film-info__about:not(:last-of-type) {
  margin-right: 15px;
}

.film-info__badge {
  font-size: 0.96rem;
}

.film-info__well {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.film-comments-form__btn {
  float: right;
}

.left-sidebar .panel:last-of-type {
  margin: 0;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}

.vertical-slider__image {
  width: 100%;
}

.user-login {
  position: relative;
}

.user-login__tabs {
  position: absolute;
  top: 0;
  right: 10px;
  border: none;
}

.user-login__tabs a {
  background-color: transparent !important;
  border: none !important;
  color: #dddddd;
  padding: 14px 5px 11px !important;
}

.user-login__tabs .active a {
  color: #ffffff !important;
}

.site-news-item {
  position: relative;
  clear: both;
}

.site-news-item:not(:last-of-type) {
  min-height: 85px;
  margin-bottom: 15px;
}

.site-news-item:not(:last-of-type)::after {
  position: absolute;
  right: 0;
  bottom: -5px;
  height: 1px;
  width: calc(100% - 85px);
  content: "";
  background-color: #dddddd;
}

.site-news-item:hover a {
  color: #df8a13;
}

.site-news-item:hover .site-news-item__image {
  background-color: #df8a13;
  border-color: #df8a13;
}

.site-news-item__image {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
}

.site-news-item__title {
  margin-bottom: 10px;
}

.site-news-item__title a {
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.site-news-item__date {
  text-align: right;
  font-size: 0.8rem;
  color: #909090;
}

.top-films__body {
  padding-right: 0;
  padding-left: 0;
}

.top-films__list {
  margin-bottom: 0;
}

.top-films__badge {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top-films__item {
  background-color: transparent;
  margin-right: -1px;
  margin-left: -1px;
  color: #165690 !important;
}

.top-films__item:first-child {
  border-radius: 0;
  border-top: none;
}

.top-films__item:last-child {
  border-radius: 0;
  border-bottom: none;
}

.top-films__item:hover, .top-films__item:focus {
  color: #ffffff !important;
  background-color: #df8a13 !important;
  border-color: #df8a13;
}

.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323;
}

.footer {
  padding-top: 45px;
  color: #fbfbfb;
  background-color: #232323;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer a {
  color: #777777;
}

.footer a:hover {
  color: #ffffff;
}

.footer-fifth {
  margin: 20px 0;
  text-align: center;
}

.footer-fifth a {
  color: #fbfbfb;
}

@media (min-width: 576px) {
  h1 {
    font-size: 3rem;
    margin: -7.5px 0 45px;
  }
  h2 {
    font-size: 2.5rem;
    margin: 60px 0 45px 45px;
  }
  h3 {
    font-size: 1.5rem;
  }
  .header-logo__title {
    margin-right: -0.2777em;
    font-size: 3.5rem;
    letter-spacing: 0.33em;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 575.8px) {
  h1 {
    font-size: 2rem;
    margin: 0 0 30px;
  }
  h2 {
    font-size: 1.75rem;
    margin: 45px 0 30px 45px;
  }
  h3 {
    font-size: 1.25rem;
  }
  .header-logo__title {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
  }
}
